body{
  background-image: linear-gradient(50deg, seagreen, green);
}
.title {
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 230px;
    color: rgb(99, 51, 51);
    border: solid green 3px;
    background-image: linear-gradient(50deg, cyan, skyblue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
input[type="button"] {
    border-radius: 10px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    border-color: green;
    width: 100%;
  }
input[type="text"] {
    border-radius: 10px;
    text-align: right;
    background-color: white;
    border-color: black;
    width: 100%;
  }
#solve{
    background-color: white;
    color: black;
    width: 630%;
  }
.m1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-style: oblique;
  border-width: 10px;
  border-style: ridge;
  border-color: rgb(70, 99, 42);
  background-image: linear-gradient(50deg, red, blue);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(226, 206, 206);
}